# LINE Front-end Framework (LIFF)
NEXT_PUBLIC_LIFF_ID=

# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=

# Base URL (ローカル開発時: http://localhost:3000)
NEXT_PUBLIC_BASE_URL=http://localhost:3000
